@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: rgb(63, 63, 63);
    color: white;
    background-image: URL("papyrus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    height:fit-content;
    margin: 0;
    height: 200%;
    

}

* {
    cursor: url("netherite.cur"), url("netherite.cur"), default;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Manrope;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    color: white;
    

}

html{
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1%;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: ;
}

header{
    height: 3%;
}
.mainMenuSep {
    border-left: 1px solid rgb(255, 255, 255);
    height: 50px;
    left: 20%;
    margin-left: 1%;
    margin-right: 0;
    top: 0;
}

